*, *:before, *:after{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

html, body{
	margin: 0;
	padding: 0;
	font-size: 1em;
}

.clearfix:before, .clearfix:after{
	content: " ";
	display: table;
}

.clearfix:after{
	clear: both;
}

.clearfix{
	*zoom: 1;
}

a{
	text-decoration: none;
}


img{
	max-width: 100%;
	max-height: 100%;
}

body{
	background-image: radial-gradient(center center, ellipse cover, #1E90FF,  #04376F);
    background-image: -o-radial-gradient(center center, ellipse cover,  #1E90FF,  #04376F);
    background-image: -ms-radial-gradient(center center, ellipse cover,  #1E90FF,  #04376F);
    background-image: -moz-radial-gradient(center center, ellipse cover,  #1E90FF,   #04376F  );
    background-image: -webkit-radial-gradient(center center, ellipse cover,  #1E90FF,  #04376F);
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	

}

#img-titulo{
	background-image: url(imagem.jpg);
	background-size:100% 100%;
	-webkit-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-khtml-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	width: 60%;
		/*height: 60%;*/
	margin: 40px auto 20px auto;
	
}

.page-content{
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
}

/*form{
	margin: 10% 5% 0% 5% !important;
}*/

.container {
    width: 80%;
    border-color: blue;
    text-align: center;
	margin: 3em auto;
}

.container > div > img{
	width: 100%;
	height: 100%;
}



::-webkit-input-placeholder {
   /*color: #001A68;*/
   color: #000;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:-moz-placeholder {
   color: #001A68;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

::-moz-placeholder {
   color: #001A68;  
   font: 12px verdana, arial, sans-serif;
}

:-ms-input-placeholder {  
   color: #001A68;  
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form-container{
	width: 90%;
	margin: 0 auto;
}

.form-container > form > input{
	width: 100%;
	height: 2.3em;
	border-radius: 5px;
	margin-bottom: .5em;
}

#acessar{
	margin: .5em auto;
	width: 101.6%;
	height: 3em;
}

.container > ul{
	list-style: none;
}

ul.logo-banner > li{
	float: left;
}

.mini-logo{
	width: 35%;
}

#logo-sead{
	margin-top: .5em;
}

.logo-estado{
	width: 30%;
	margin: 1em auto;
}

.left{
	float: left;
}

.right{
	float: right;
}