img{
	max-width: 100%;
	max-height: 100%;
	
}

a{
	text-decoration: none;
	color: #000 !important;
}

@media only screen and (orientation: portrait){
	
}

@media only screen and (orientation:landscape){
  
}